/**
 * Name: ILOANUGO ONYINYE
 * StudentId: 2009808
 * CourseCode: CMM004
 * Course: Software Engineering Project
 * 
 */


/**  STYLING PAGE FOR THE TEAM'S PAGE
 * * 
 * 
 * 
 * 
 */
/*float columns side by side */
.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}
