body{
    background-color:whitesmoke;
    
}
main{
    background-color: whitesmoke;
    color: black;
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 h2 {
    font-family: 'Jomhuria', cursive;
}

footer{
    background-color: rgb(243, 237, 237);
    padding-bottom: 100px;
}

header {
    background-color: rgb(243, 237, 237);
}
.row:after {
    content: "";
    display: table;
    clear: both;

}

column {

    float: left;

    padding: 20px;

}

a.button {
    border-radius: 2px;
    text-align: center;
    font-family: arial;
    background-color: cornflowerblue;
    color: white;
    width:202px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none ;
    margin-bottom: 2px;

}


form{
    background-color: #d4e3fc;
    border-radius: 50px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-below: 10px;
}

#left {
    width:40%;
    float: left;
    text-align: center;
    margin-right: 2.5%;
    margin-left: 7.5%;
}
#right {
    width:40%;
    margin-right: 7.5%;
    margin-left: 2.5%;
    float: right;
    text-align: center;
}

.register {
    background-color: white;
    border-radius: 50px;
}
.submit {
    background-color: white;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#login {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 50px;
}
#lefttest{
    width: 25%;
    float: left;
}
#groupnames{
    margin-top: 50px;
    text-align: left;
    font-family: arial;
    font-weight: bold;
    color: dimgrey;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 0px;
    width: 20%;

    margin-right: 0px;

}
#choosegroup {
  margin-top: 50px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: dimgrey;
    font-size: x-large;
}
#group{
  padding-top: 20px;
    width: 25%;
  text-align: center;
    font-size: large;
    font-family: arial;
    font-weight: bold;
    color: dimgrey;
    margin-bottom: 50px;


}
#groupsubmit{
    border-radius: 10px;
    text-align: center;
    font-family: arial;
    background-color: cornflowerblue;
    color: white;
    width:202px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none ;
    margin-bottom: 20px;
    margin-top: 20px;
}
#groups{

}
select {
// A reset of styles, including removing the default dropdown arrow
appearance: none;
// Additional resets for further consistency
background-color: transparent;

    padding: 0 5em 0 0;
    margin: 0;
    width: 50%;
    font-family: Arial;
    color: dimgrey;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    border-radius: 10px;
}
.projects{

    margin-bottom: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.projects li{

    border-radius: 10px;
    margin: 10px;
    background-color: cornflowerblue;
    width: 80%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    text-align: center;
    list-style-type: none;

}
.projects li:hover {
    background-color: dimgrey;
}
.projects a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: Arial;
    color: snow;
    text-align: center;

}
#upload_form{
    width: 30%;
    float: left;
    margin-left:50px;
  margin-top: 0px;
    text-align: center;
    justify-content: center;
    height: 200px;
}
#uploads{
    float: left;
    width: 75%;

}
#viewuploads2{
    margin-right: auto;
    margin-left: auto;

    border-radius: 10px;
    border-color: dimgrey;
    padding: 20px;
}

#viewuploads{
    background-color: #d4e3fc;
    width: 60%;
    float: right;
    margin-right: 50px;
    padding: 20px;
    border-radius: 50px;
    height:200px;

}
#viewuploads2 td{
   padding-right: 30px;
    padding-left: 30px;
}
#extra{
    height: 150px;
}

#file_button{

    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    background-color: #d4e3fc;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px;
}
.container h3 {

    padding: 20px;
}
